.m-createGroupChat {

  &__userList {
    max-height: calc(100vh - 390px);
    overflow-y: auto;
    margin: 10px 0;
  }

  &__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  }

  &__userDetails {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  &__userImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }

  &__loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    padding: 20px;
  }

  &__noResults {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 20px;
  }
}
