.m-header {
  width: 100%;
  backdrop-filter: blur(20px);
  background-color: rgb(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: $color-white;
  border-radius: 2px;

  &__profileContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
  }

  &__profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__notificationIcon {
    width: 18px;
    height: 18px;
    cursor: pointer;
  }

  &__arrowIcon {
    width: 18px;
    height: 18px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  &__arrowIcon.rotate {
    transform: rotate(180deg);
  }

  &__arrowIcon.reverse {
    transform: rotate(0deg);
  }

  &__notificationIcon {
    margin-right: 15px;
  }
  &__searchPopup {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
  }
  &__searchResult {
    padding: 7px 10px;
    display: flex;
    align-items: center;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 4px;
      cursor: pointer;
    }
  }
  &__noUser {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }
  &__noUserIcon {
    width: 50px;
    height: 50px;
  }
}
