.m-form {
  width: 100%;
  position: relative;

  &__inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 2px;
    box-sizing: border-box;
    background-color: transparent;

    &--border-basic {
      border: 1px solid #ccc;
    }

    &--border-underlined {
      border-bottom: 1px solid $color-white;
    }

    &--pd-default {
      padding: 12px 20px;
    }
    &--pd-small {
      padding: 8px 10px;
    }
  }

  &__icon {
    width: 18px;
    height: 18px;
  }

  &__input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: $color-white;
  }

  &__input::placeholder {
    color: $color-grey;
  }

  &__error {
    position: absolute;
    color: $color-error;
    font-size: 12px;
  }
}
