.a-popup {
  position: absolute;
  top: 96px;
  right: 10px;
  width: 300px;
  height: auto;
  backdrop-filter: blur(20px);
  background-color: rgb(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: $color-white;
  border-radius: 4px;
  z-index: 100;

  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;

  &.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  &.left-position {
    left: 39px;
    width: 438px;
    top: 70px;
  }
}
