$color-white: #ffffff;
$color-black: #000000;

$color-grey: #959595;
$color-grey-2: #b8b8b8;
$color-grey-light: #95959578;

$color-error: #ff6262;
$color-blue: #237fd4;

$color-blue-border: #0b5fac;
$color-grey-border: #cccccc;

$color-transparent: transparent;
