.m-inbox {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    font-size: 18px;
    font-weight: 500;
    padding: 15px;
    display: flex;
    align-items: center;
    background: linear-gradient(
      180deg,
      $color-transparent 0%,
      $color-white-transparent 100%
    );
  }

  &__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }

  &__status {
    display: flex;
    align-items: center;
  }

  &__statusText {
    font-size: 12px;
    color: $color-grey-2;
    margin-right: 10px;
  }

  &__statusDot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: $color-green;
  }

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
  }

  &__sendMessage {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
  }

  &__sendIcon {
    width: 22px;
    height: 22px;
  }

  &__message {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;

    &--self {
      justify-content: flex-end;
    }

    &--other {
      justify-content: flex-start;
    }

    &--system {
      justify-content: center;
      padding: 0;
    }
  }

  &__messageContent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;

    &--other {
      align-items: flex-start;
    }
  }

  &__profilePic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &__sender {
    font-size: 11px;
    color: $color-grey-2;
  }

  &__content {
    font-size: 14px;
    border-radius: 4px;

    &--self {
      color: $color-black;
      background-color: $color-white;
      padding: 10px;
    }

    &--other {
      color: $color-white;
      background-color: $color-blue;
      padding: 10px;
    }
    &--system {
      color: $color-grey-2;
      font-size: 12px;
      padding: 10px 0 5px 0;
    }
  }
}
